/* Block404.css */

.error-image {
    width: 150px;
    height: 150px;
    margin: 20px 0;
    transition: transform 0.6s ease;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error-image:hover {
    transform: rotate(360deg) scale(1.1);
}

.error-subtitle {
    font-size: 18px;
    margin: 20px 0;
    color: #333333;
    transition: all 0.3s ease;
}

.error-subtitle:hover {
    font-size: 22px;
    color: #ff6347;
    font-family: 'Courier New', Courier, monospace;
}


/* Адаптивные стили */

/* Для экранов от 1920px */
@media (1921px <= width) {

}

/* Для экранов до 1920px от 1440px */
@media (1920px <= width <= 1441px) {

}

/* Для экранов до 1440px от 1024px */
@media (1440px <= width <= 1025px) {

}

/* Для экранов до 1024px от 768px */
@media (1024px <= width <= 769px) {

}

/* Для экранов до 768px от 390px */
@media (768px <= width <= 391px) {

}

/* Для экранов до 390px */
@media (390px <= width) {

}