/* MainBlock.css */

.intro-title {
    font-size: 30px;
}

.intro {
    display: flex;
}

.about-me {
    padding-top: 50px;
}

.about-me p {
    padding-right: 50px;
}

.profile-pic img {
    width: 200px;
    height: 150px;
    border: 1px solid #ddd;
}

.content section {
    margin-bottom: 20px;
}

.content h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.video {
    height: 400px;
    width: 100%;
    object-position: center;
}

/* Адаптивные стили */

/* Для экранов от 1920px */
@media (1921px <= width) {
    .intro-title {
        font-size: 36px;
    }
    .profile-pic img {
        width: 250px;
        height: 200px;
    }
    .video {
        height: 450px;
    }
}

/* Для экранов до 1920px от 1440px */
@media (1920px <= width <= 1441px) {
    .intro-title {
        font-size: 32px;
    }
    .profile-pic img {
        width: 230px;
        height: 180px;
    }
    .video {
        height: 420px;
    }
}

/* Для экранов до 1440px от 1024px */
@media (1440px <= width <= 1025px) {
    .intro-title {
        font-size: 30px;
    }
    .profile-pic img {
        width: 200px;
        height: 150px;
    }
    .video {
        height: 400px;
    }
}

/* Для экранов до 1024px от 768px */
@media (1024px <= width <= 769px) {
    .intro {
        flex-direction: column;
    }
    .intro-title {
        font-size: 28px;
    }
    .about-me p {
        padding-right: 20px;
    }
    .profile-pic img {
        width: 180px;
        height: 130px;
    }
    .video {
        height: 350px;
    }
}

/* Для экранов до 768px от 390px */
@media (768px <= width <= 391px) {
    .intro-title {
        font-size: 24px;
    }
    .about-me {
        padding-top: 30px;
    }
    .about-me p {
        padding-right: 10px;
    }
    .profile-pic img {
        width: 150px;
        height: 110px;
    }
    .video {
        height: 300px;
    }
}

/* Для экранов до 390px */
@media (390px <= width) {

}
